<div class="qor-field">
  <label class="qor-field__label" for="{{.InputId}}">
    {{meta_label .Meta}}
  </label>
  <div class="qor-field__show qor-redactor__show redactor-styles">{{raw .Value}}</div>
   <div class="qor-field__edit qor-field__block">
      <textarea class="qor-field__input kindeditor-id" id="kindeditor-id" name="{{.InputName}}"
                style="width:700px;height:650px;"
                data-redactor-settings="{&quot;plugins&quot;:[&quot;source&quot;,&quot;filemanager&quot;,]}" 
                data-toggle="qor.kindeditor"
                {{if not (has_change_permission .Meta) }}disabled{{end}}>{{.Value}}</textarea>
  </div>
</div>
<script src="/admin/assets/javascripts/kindeditor-all-min.js"></script>
<script src="/admin/assets/javascripts/qor_kindeditor.js"></script>
