<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Material Design Lite</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileColor" content="#3372DF">
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="/static/css/Material-Icons.css">
    <link rel="stylesheet" href="/static/css/material.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
    </style>
</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header is-casting-shadow has-search">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">用户登陆</span>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>


    <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">

            <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" style="margin-bottom: 50px;">
                <div class="mdl-card mdl-cell mdl-cell--12-col">
                    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                        <h4 class="mdl-cell mdl-cell--12-col">用户登录 <p style="color: red;">{{if .Err}}用户名密码错误{{end}}</p></h4>
                        <form class="qor-form" action="/auth/login" method="POST" enctype="multipart/form-data">
                            <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield is-upgraded" data-upgraded=",MaterialTextfield">
                                <label class="qor-field__label mdl-textfield__label">
                                    登陆名：
                                </label>
                                <div class="qor-field__show"></div>
                                <div class="qor-field__edit">
                                    <input class="mdl-textfield__input" type="text" name="UserName">
                                </div>
                            </div>
                            <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield is-upgraded" data-upgraded=",MaterialTextfield">
                                <label class="qor-field__label mdl-textfield__label">
                                    密码：
                                </label>
                                <div class="qor-field__show"></div>
                                <div class="qor-field__edit">
                                    <input class="mdl-textfield__input" type="password" name="Password">
                                </div>
                            </div>
                            <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        </form>

                    </div>
                </div>
            </section>

        </div>

        <footer class="mdl-mega-footer">
            <div class="mdl-mega-footer--middle-section">
                <div class="mdl-mega-footer--drop-down-section">
                    <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked="">
                    <h1 class="mdl-mega-footer--heading">Features</h1>
                    <ul class="mdl-mega-footer--link-list">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">Updates</a></li>
                    </ul>
                </div>
                <div class="mdl-mega-footer--drop-down-section">
                    <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked="">
                    <h1 class="mdl-mega-footer--heading">Details</h1>
                    <ul class="mdl-mega-footer--link-list">
                        <li><a href="#">Spec</a></li>
                        <li><a href="#">Tools</a></li>
                        <li><a href="#">Resources</a></li>
                    </ul>
                </div>
                <div class="mdl-mega-footer--drop-down-section">
                    <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked="">
                    <h1 class="mdl-mega-footer--heading">Technology</h1>
                    <ul class="mdl-mega-footer--link-list">
                        <li><a href="#">How it works</a></li>
                        <li><a href="#">Patterns</a></li>
                        <li><a href="#">Usage</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Contracts</a></li>
                    </ul>
                </div>
                <div class="mdl-mega-footer--drop-down-section">
                    <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked="">
                    <h1 class="mdl-mega-footer--heading">FAQ</h1>
                    <ul class="mdl-mega-footer--link-list">
                        <li><a href="#">Questions</a></li>
                        <li><a href="#">Answers</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </main>

</div>
<script src="/static/js/material.min.js"></script>
</body>
</html>
